<!DOCTYPE html>

<html>

<head>

    <title></title>

    <style type="text/css">
        .colour-red {
            color: red;
        }
    </style>

</head>

<body>

    <div id="root">

        <input type="text" v-model='message'>
        <p>this is the {{message}}</p>

        <ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>

        <input id="input" type="text" v-model="newName">

        <button @click="addName">Add Name</button>

        <p></p>

        <button :title="title">Hover Over</button>

        <button :class=""></button>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <script>

        //let data = {

        //    message: 'Hej hej'
        //};

        new Vue({

            el: '#root',

            data: {

                message: 'Hej hej',

                newName: '',

                names: ['Joe', 'Mary', 'Jane', 'Jack'],

                title: 'my title'

            },

            methods: {

                addName() {
                    this.names.push(this.newName);

                    this.newName = '';
                }

            },

            mounted() {
                //alert('ready');
            }
        })

    </script>

</body>

</html>